*{
    background-color: bisque;color:
}

h1{
    background-color: black; color: ghostwhite;
}

h1,p{
    background-color:lawngreen; color: black;
}

.heading{
    background-color:rgb(224, 144, 144);color:black;
}

#info{

    background-color:aquamarine; color:red;
}

.a{
    background-color:cadetblue; color: white;
}